.other_info{
    width: 50%;
    background-color:#07a0c3;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.strong_container{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.poke_strong_card{
    width: 50%;
    height: 100%;
    border: black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poke_strong_img{
    height: 60%;
    width: 60%;
    align-self: center;
}
.poke_strong_name{
    height: 19%;
    font-size: 14px;
    align-self: flex-end;
    justify-content: center;
    align-self: center;
}